#paneInp {
    -fx-background-color: #293e4f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#findPane{
    -fx-background-color: #3c5148;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.text-field {
    -fx-background-radius: 0;
    -fx-background-color: #293e4f;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
}
#textFieldFind{
    -fx-background-color: #3c5148;
}
#findImage:hover, #closelabel1:hover {
    -fx-effect: dropshadow(three-pass-box, #293e4f, 2, 1, 1, 1);
}
#closelabel2:hover {
    -fx-effect: dropshadow(three-pass-box, #051e28, 2, 1, 1, 1);
}